* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f5f5f5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #222;
    color: white;
}

h2 {
    cursor: pointer;
}

h2:hover {
    color: rgb(38, 38, 234);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover {
    color: #1259d6;
}

.search-box {
    display: flex;
    gap: 5px;
}

.search-box input {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.search-box button {
    padding: 8px 15px;
    border: none;
    background: #0d6efd;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.search-box button:hover {
    background: #084fc7;
}

.cart {
    font-size: 20px;
}

.hero {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #150849, #2575fc);
    color: white;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 70px;
    padding: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
}

.card button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background: #2575fc;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background: #1259d6;
}

@media(max-width:768px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }
}