* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #f5f5f5;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 18px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: 0.3s;
}

.navbar.active {
    background: #111;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

.logo {
    color: white;
    font-size: 28px;
    text-decoration: none;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    transition: .3s;
}

.nav-menu a.active {
    color: #ff4d4d;
}

.menu-btn {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

h1 {

    position: relative;
    animation: slideCenter 2s ease-out forwards;
}

@keyframes slideCenter {
    from {
        transform: translateX(-600px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.dance {
    animation: slide 4s ease-out forwards;
}

@keyframes slide {
    from {
        transform: translateX(600px);
        opacity: 0;

        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

.img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.img p {
    font-size: 20px;
    line-height: 1.6;
    position: relative;
    animation: word 5s ease-out forwards;
}

@keyframes word {
    from {
        transform: translateX(-600px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.img img {
    width: 80%;
    max-width: 900px;
    border-radius: 12px;
    margin-left: 100px;
    position: relative;
    animation: image 5s ease-out forwards;
}

@keyframes image {
    from {
        transform: translateX(600px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.section-home {
    min-height: 100vh;
    background: linear-gradient(to right, #111, #333);
    color: white;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 100px 20px;
}

.section-home h1 {
    font-size: 3rem;
}


.section {
    padding: 100px 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.cart {
    font-size: 20px;
    color: white;
}

.card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    padding: 20px;

    opacity: 0;
    transform: translateY(40px) scale(1);

    transition: transform 0.4s ease, background-color 0.4s ease;
}

.card:hover {
    transform: translateY(40px) scale(1.08);
    background-color: grey;
}

.card.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.card.show:hover {
    transform: translateY(0) scale(1.08);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

button {
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

button:hover {
    background: #333;
    transform: scale(1.05);
}

.footer {
    background: #111;
    color: white;
    padding: 50px 20px 20px;
}

.footer-grid {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: auto;
}

.footer-card {
    background: #1b1b1b;
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
}

.footer-card:hover {
    transform: translateY(-5px);
}

.footer-card h3 {
    margin-bottom: 15px;
}

.footer-card p,
.footer-card a {
    color: #ccc;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
}

.footer-card a:hover {
    color: #0d6efd;
}

.footer-bottom {
    color: #ffffff;
    text-align: center;
    border-top: 1px solid #ffffff;
    padding-top: 15px;
    background-color: #111;
}

.reviews {
    padding: 60px 20px;
    text-align: center;
    background: linear-gradient(135deg, #150849, #2575fc);
}

.reviews h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.review-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: auto;
}

.review-card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.review-card:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.18);
    background-color: #c2d2eb;
}

.review-card p {
    margin: 15px 0;
    color: #444;
}

.review-card span {
    font-weight: bold;
    color: #222;
}

@media (max-width: 768px) {

    .menu-btn {
        display: block;
    }

    .nav-menu {
        position: absolute;
        top: 70px;
        left: -100%;
        width: 100%;
        background: black;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        transition: .3s;
    }

    .nav-menu.show {
        left: 0;
    }

    .section-home h1 {
        font-size: 2rem;
    }
}